body
{
}

.contactdiv {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}

form {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
    flex-direction: column;
    grid-column: 1;
    grid-row: 1;
}
input[type=text] {
    font-family: 'Libre Baskerville', Arial, serif;
    background-color: ghostwhite;
    border-width: 0px;
    width: 100%;
    height: 25%;
    border: 5px solid black;
}
input[type=date] {
    font-family: 'Libre Baskerville', Arial, serif;
    background-color: ghostwhite;
    border-width: 0px;
    width: 100%;
    height: 25%;
    border: 5px solid black;
}
.asks {
    display: block;
    display: inline-block;
    font-family: 'Libre Baskerville', Arial, serif;
    background-color: ghostwhite;
    border-width: 0px;
    border: 5px solid black;
    line-height: 120%;
}
input[type=submit] {
    font-family: 'Libre Baskerville', Arial, serif;
    background-color: ghostwhite;
    border-width: 0px;
    border: 5px solid black;
    width: 100%;
    height: 25%;
}

label {
    color: ghostwhite;
    font-family: 'Libre Baskerville', Arial, serif;
}

@media(max-width: 600px) {
    form {
        width:100%;
        display: flex;
        padding: 20px;
        border-radius: 10px;
        margin: 0 auto;
        grid-column: 1;
        grid-row: 1;
        box-shadow: 0 4px 8px;
    }
       
}
