body
{
}



form {
    display: flex;
    width: 45%;
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
    flex-direction: column;
    box-shadow: 0 4px 8px;
    grid-column: 1;
    grid-row: 1;
}
input[type=text] {
    font-family: 'Libre Baskerville', Arial, serif;
    background-color: lightgrey;
    border-width: 0px;
    border:none;
    width:50%;
    height: 7%;
}
input[type=date] {
    font-family: 'Libre Baskerville', Arial, serif;
    background-color: lightgrey;
    border-width: 0px;
    border: none;
    width: 50%;
    height: 7%;
}
.asks {
    display: block;
    display: inline-block;
    font-family: 'Libre Baskerville', Arial, serif;
    background-color: lightgrey;
    border-width: 0px;
    border: none;
    width: 50%;
    line-height: 120%;
    
}
input[type=submit] {
    font-family: 'Libre Baskerville', Arial, serif;
    background-color: lightgrey;
    border-width: 0px;
    border: none;
    width: 50%;
    height: 7%;
}

form img {
    width: 20%;
    height: auto;
    position: absolute;
    left: 52%;
}

@media(max-width: 600px) {
    form {
        width:65%;
        display: flex;
        padding: 20px;
        border-radius: 10px;
        margin: 0 auto;
        grid-column: 1;
        grid-row: 1;
        box-shadow: 0 4px 8px;
    }
        form img {
            width: 30%;
            height: auto;
            position: absolute;
            left: 49%;
        }
}
