body {

}
h1 {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.left {
    float: left;
}

.right {
    margin-left: auto;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
ul li {
    float: right;
}
ul li item {
    display: block;
    color: white;
    text-align: center;
    padding: 1.4% -30%;
    text-decoration: none;
    font-size: large;
}