body
{
}

.containerbox1 {
    padding: 2%;
    display: grid;
    grid-template-columns: 50%, 50%;
    margin: 5%;
    
}

.textbox1 {
    background-color: white;
    border: 2px solid black;
    box-shadow: 0 4px 8px black;
    text-align: center;
    color: black;
    width: 75%;
    padding: 2%;
    position: relative;
    grid-column: 1;
    height: fit-content;
    overflow: hidden;
}
.imgbox1 {
    position: absolute;
    align-content: normal;
    color: black;
    width: 100%;
    padding: 2%;
    position: relative;
    grid-column: 2;
}
    .imgbox1 img {
        width: 100%;
        height: auto;
        box-shadow: 0 4px 8px black;
    }


.textbox2 {
    background-color: white;
    border: 2px solid black;
    box-shadow: 0 4px 8px black;
    text-align: center;
    color: black;
    width: 75%;
    padding: 2%;
    position: relative;
    grid-column: 2;
    height: fit-content;
    overflow: hidden;
}

.imgbox2 {
    position: absolute;
    align-content: normal;
    color: black;
    width: 100%;
    padding: 2%;
    position: relative;
    grid-column: 1;
}

    .imgbox1 img {
        width: 100%;
        height: auto;
        box-shadow: 0 4px 8px black;
    }
