body {
    margin: 0;
    overflow-x: hidden;
    background-color: #89CFF0;
}

.imgback {
    height: auto;
    width: 100%;
    background-image: url(forestView.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0%;
}

.imgback2 {
    height: auto;
    width: 100%;
    background-image: url(lake.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0%;
}

.encapsulordiv {
    
}


h1 {
    font-family: 'Playfair Display', sans-serif;
    color: white;
    text-align: center;
    
}

p {
    font-family: 'Playfair Display', sans-serif;
}

h2 {
    font-family: 'Playfair Display', sans-serif;
    color: white;
    text-align: center;
    
}
.left {
    float: left;
}

.right {
    margin-left: auto;
}

.navbutton {
    border: none;
    background-color: none;
    color: black;
    font-family: 'Playfair Display', sans-serif;
    padding: 2rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4% 2%;
    cursor: pointer;
    box-shadow: 0 4px 8px white;
}

ul {
    width: 100%;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: visible;
    box-shadow: 0 4px 8px white
}


ul li {
    float: right;
    gap: 50rem;
    margin-top: auto;
    
}
    ul li item {
        display: block;
        color: white;
        text-align: center;
        padding: 1.4rem 5rem;
        text-decoration: none;
        font-size: large;
        
    }

@media (max-width: 600px) {
    ul li item {
        padding: 1.4rem 2rem;
        font-size: medium;
    }
}
@media (max-width: 1200px) {
    .navbutton {
        padding: 1rem 1rem;
        font-size: 12px;
        margin: 2% 1%;
    }
}
        ul li item img {
            float: left;
            margin-top: 3%;
            width: 75%;
            padding: 1.4rem 2.5rem;
            
        }



.randomimgdiv {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 20%;
}

    .randomimgdiv img {
        height: auto;
        width: 100%;        
    }




.contaierdiv {
    display: flex;
    gap: 5rem;
    overflow: hidden;
    margin-left: 5%;
    margin-right: 5%;
    padding: 5%;
}


.gallerydivparent {
    margin: 0;
    height: auto;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    display: flex;
    overflow: auto;
    height: auto;
    
}
.gallerydiv {
    margin: 0;
    flex: 1;
    padding: 1rem;
    display: flex;
    justify-content: center;
   
}

    .gallerydiv img {
        width: 100%;
    }

.textdiv {
    font-family: 'Playfair Display', sans-serif;
    font-size: small;
    color: white;
    flex: 1;
    display: flex;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: contain;
    overflow: hidden;
    
}




@media(max-width: 600px) {
    .contaierdiv {
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
}

.bottomdiv {
    width: 100%;
    height: 25%;
    
}
    .bottomdiv img {
        width: 100%;
        height: 25%;
        
        position: absolute;
    }

section {
    display: flex;
    justify-content: left;
    position: relative;
}
iframe {
    margin: 5%;
}

hr.dashed {
    border-top: 8px solid white;
    border-radius: 5px;
    margin: 0%;
}
hr.dashedbottom {
    border-bottom: 8px solid white;
    border-radius: 5px;
    margin: 0%;
}