body {

}
h1 {
    width: 500px;
    margin: 0 auto;
    text-align: center;
}
.left {
    float: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
ul li {
    float: right;
}
ul li item {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 55px;
    text-decoration: none;
    font-size: large;
}